/* border color */
.border-color {
  border-color: grey;
}

/* background color */
.light-bg, .btn.light-bg:hover {
  background-color: grey;
}

/* background color - darken */
.dark-bg, .btn.dark-bg:hover {
  background-color: grey;
}

/* text color */
.text-color {
  color:black;
}